@model Socializr.Models.Localities.EditCountyModel

@{
    ViewBag.Title = "EditCounty";
}

<h2>@Model.Name</h2>
@using (Html.BeginForm("DeleteCounty", "Localities", FormMethod.Post))
{
    @Html.HiddenFor(model => model.CountyId, new { htmlAttributes = new { @class = "form-control" } })
    
        <div class="col-md-10">
            <input type="submit" value="Delete this county" class="btn btn-default" />
        </div>
}

<div class="col-md-6">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit County Information</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.CountyId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CountyId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Changes" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>

<div class="col-md-6">
    <h4>Add a new city</h4>
    <hr />
    @Html.Action("AddCity", new { id = Model.CountyId })
</div>

@Html.Action("ListCity", new { id = Model.CountyId })
