@model  Socializr.Code.Pagination.Pager<BusinessEntities.CustomTypes.PostDisplay.DisplayPostModel>
@using Socializr.Code.Helpers


@{
    ViewBag.Title = "UserPosts";
}

<h2>Your post feed</h2>

<div class="post-list" data-pagenumber="1">
    @foreach (var item in Model.ElementList)
    {
        @Html.Partial("Display", item)
    }
</div>

<div>
    <button id="btn-load-posts">Load more posts</button>
</div>

@section scripts {
    <script type="text/javascript">
        var globalInfo = {
            ajaxUrl: {
                addComment: "@Url.Action("AddComment","Comment")",
                displayCommentList: "@Url.Action("DisplayCommentList", "Comment")",
                getLatestComment: "@Url.Action("GetLatestComment","Comment")",
                getComments: "@Url.Action("GetComments", "Comment")",
                getFeedPosts: "@Url.Action("GetFeedPosts", "Feed")",
            },
        };
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/Feed/FeedManager.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/Feed/Post.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/Feed/LikeablePost.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/Feed/CommentablePost.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/Feed/likeSystem.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/Feed/commentSystem.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/Feed/feedSystem.js")"></script>
}

@Html.Partial("FeedHandlebars")
